body {
    background-color: #f8f9fa;
}
.container {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}
.head{
    text-align: center;
    margin-bottom: 30px;
}

.form-group{
    display: flex;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.station-dets-header{
    text-align: center;
    padding-bottom: 5%;
}