
.heading{
    text-align: center;
}

.form-option {
    padding: 5%;
}

.input-box{
    width: 40%;
    padding: 2% 10% 2% 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
