:root{
    --bs-zesco-primary: #f59d33;
    --bs-zesco-secondary: #1c9955;
}
.bg-zesco-orange{
    background-color: var(--bs-zesco-primary) !important;
}

.field-required:after{
    content: "*";
    color: #f1416c;
}

.app-required-marker {
    margin-left: .5em;
    font-size: .85em;
    color: #f00
}

.app-required-marker:before {
    content: "All Fields Marked * Are Required"
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.border-radius-0{
    border-radius: 0 !important;
}

.error-class{
    color: red;
}

.card-header.view_mode > div div.edit_mode {
    display: none
}

.card-header.edit_mode > div div.view_mode {
    display: none
}

.imagePreview {
    width: 100%;
    min-height: 280px;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}
